* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #efe9e3;
  color: #333;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #75665d;
  padding: 20px 20px;
  border-bottom: 4px solid #554241;
}

.logo {
    background-color: #d9cfc7;
  color: #000000;
  padding: 20px 20px;
  font-size: 1.8em;
  font-weight: bold;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}


nav a {
  margin-left: 30px;
     background-color: #d9cfc7;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 1em;
    padding: 20px 20px;
     border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

main {
  padding: 40px;
  text-align: center;
}

.company-name {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 30px;
}


.main-img {
  width: 700px;
  height: 400px;
  background-color: #444;
  margin: 0 auto 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.main-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}


footer {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.6;
  color: #7e542c;
}

.page-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
   min-height: 100vh;
  padding: 20px;
  border-radius: 8px;
    background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.8);
}


}
.banner {
  text-align: center;
  margin: 40px 0;
}

.banner-img {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  background-color: #ccc;
  border-radius: 8px;
}

.banner-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.banner-text {
  margin-top: 20px;
  font-size: 1em;
  line-height: 1.6;
}
.product-grid {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-top: 40px;
}

.product {
  flex: 1;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.product img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 15px;
}


.product h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}
.product p {
  font-size: 0.95em;
  line-height: 1.5;
}

.contact-layout {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 40px;
}

.contact-info {
  flex: 1;
  font-size: 1em;
  line-height: 1.6;
}

.map-container {
  flex: 1;
  height: 300px;
  border: 2px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}
